language: r
warnings_are_errors: true
sudo: required

cache:
  - apt
  - packages

notifications:
  email:
    on_success: change
    on_failure: change

r_github_packages:
  - jimhester/covr
  - jimhester/lintr

after_success:
  - Rscript -e 'library(covr);codecov()'
  - Rscript -e 'devtools::install();lintr::lint_package()'
